body{
    max-width: 1920px;
    min-height: 100vh;
    background: #d0ccd3;
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Page{
    display: flex;
}

.options {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #FFC22A;
    width: 20vw;
    align-items: center; 
}

#logoS {
    width: 20vw;
}

.options button{
    background: none;
    border: 0;
    cursor: pointer;
}

#OpIm {
    width: 3.5vw;
}

.OpBtn {
    display: flex;
    font-size: 1.5vw;
    align-items: center;
}

#UserBtn{
    position: relative;
    right: 3vw;
    gap: 3vw;
}

#ToolBtn{
    position: relative;
    right: 2.4vw;
    gap: 1.5vw;
}

#EncBtn img{
    width: 1.5vw;
}

.guideU{
    position: fixed;
    z-index: 1;
    top: .5vw;
}

.guideU button{
    color: black;
    border-style: none;
    width: 10vw;
    height: 2vw;
    border-top-right-radius: .5vw;
    cursor: pointer;
}

#UBuscaBtn {
    position: fixed;
    z-index: 2;
}

#uCadBtn{
    position: fixed;
    background-color: #d0ccd3;
    border-top-left-radius: .5vw;
    left: 28vw;
    color: #5b5b5b;
}

.guideT{
    display: none;
    position: fixed;
    top: .5vw;
}

.guideT button{
    color: black;
    border-style: none;
    width: 10vw;
    height: 2vw;
    border-top-right-radius: .5vw;
    cursor: pointer;
}

#TBuscaBtn {
    position: fixed;
    z-index: 2;
}

#TCadBtn{
    position: fixed;
    background-color: #d0ccd3;
    border-top-left-radius: .5vw;
    left: 28vw;
    color: #5b5b5b;
}

.mainUser{
    background-color: #fff;
    position: fixed;
    top: 2.5vw;
    width: 100vw;
    height: 100vw;
}

.mainUser input{
    border-radius: .5vw;
    border-color: black;
    border-style: solid;
    height: 1.5vw;
}

#UserBuscaParamater {
    position: fixed;
    left: 30vw;
    top: 10vw;
}

#UBNameIn{
    position: fixed;
    width: 20vw;
}

#UBId, #UBCodItIn{
    position: fixed;
    width: 15vw;
    right: 15vw;
}

#UBCodItIn{
    top: 15vw;
}

#UBTelIn{
    position: fixed;
    width: 15vw;
    top: 15vw;
}

#calendar{
    position: fixed;
    top: 19.8vw;
    width: 2vw;
}

.dates{
    position: fixed;
    top: 20vw;
    left: 32.5vw;
}

.dates input{
    width: 6vw;
}

.guideT{
    position: fixed;
}

#UBBuscarBtn{
    position: fixed;
    right: 20vw;
    top: 20vw;
}

#UBBuscarBtn img{
    width: 3vw;
}

#UserCadParamater{
    display: none;
}

.mainTool{
    display: none;
}

.saveBtn{
    background: none;
    border: 0;
    cursor: pointer;
}