body{
    max-width: 1920px;
    min-height: 100vh;
    background: aliceblue;
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.options {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #FFC22A;
    width: 20vw;
    align-items: center; 
}

#logoS {
    width: 20vw;
}

.options button{
    background: none;
    border: 0;
    cursor: pointer;
}

#OpIm {
    width: 3.5vw;
}

.OpBtn {
    display: flex;
    font-size: 1.5vw;
    align-items: center;
}

#UserBtn{
    position: relative;
    right: 3vw;
    gap: 3vw;
}

#ToolBtn{
    position: relative;
    right: 2.4vw;
    gap: 1.5vw;
}

#EncBtn img{
    width: 1.5vw;
}